<div class="container">
    <div *ngIf="listProducts">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product name</th>
                            <th scope="col">Available Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{listProducts[index].productName}}</td>
                            <td>{{listProducts[index].availableQuantity}} </td>
                        </tr>
                    </tbody>
                </table>
                <br />

            </div>
        </div>

        <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
            <div class="form-group">
                <label for="neededQuantity">Quantity:</label><br>
                <input type="number" id="neededQuantity" name="neededQuantity" placeholder="Enter the quantity" min="1"
                    [max]="listProducts[index].availableQuantity" ngModel class="form-control"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="5"
                    required><br><br>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>