<div class="container">
    <div *ngIf="listProducts">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product name</th>
                            <th scope="col">Available Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{product[0].productName}}</td>
                            <td>{{product[0].availableQuantity}} </td>
                        </tr>
                    </tbody>
                </table>
                <br />
            </div>
        </div>

        <form #form="ngForm" (ngSubmit)="onSubmit(form)" ngNativeValidate>
            <div class="form-group">
                <label for="neededQuantity">Quantity:</label><br>
                <input type="number" id="neededQuantity" name="neededQuantity" placeholder="Enter the quantity" min="1"
                    [max]="product[0].availableQuantity" class="form-control" [(ngModel)]="neededQuantity"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="5"
                    required><br><br>
            </div>
            <button routerLink="/list-products" class="btn btn-danger mr-3">Back</button>
            <button type="submit" class="btn btn-primary mr-3">Submit</button>
        </form>

    </div>
</div>