<div class="container">
    <form #formValue="ngForm" (ngSubmit)="onSubmit(formValue)" ngNativeValidate>
        <div class="form-group">
            <label for="productName">Product name:</label><br>
            <input type="text" id="productName" name="productName" class="form-control"
                placeholder="Enter the Product name" ngModel maxlength="25" required><br>
        </div>
        <div class="form-group">
            <label for="availableQuantity">Quantity:</label><br>
            <input type="number" id="availableQuantity" name="availableQuantity" class="form-control" min="1"
                placeholder="Quantity" ngModel required [(ngModel)]="availableQuantity"  (input)="sliceInput(5)"  ><br><br>

        </div>

        <button routerLink="/list-products" type='button' class="btn btn-danger mr-3" (click)="onBack()" >Back</button>

        <button type="submit" class="btn btn-primary mr-3">Submit</button>

    </form>
</div>