<div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/list-products">Shopping Website</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/list-products"
          routerLinkActive="active"
          >List of Products</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/add-product" class="nav-link" routerLinkActive="active"
          >Add Product</a
        >
      </li>

      <li class="nav-item">
        <a routerLink="/cart-product" class="nav-link" routerLinkActive="active"
          ><i class="bi bi-cart4"></i>
          </a
        >
      </li>
    </ul>
  </nav>
</div>

<br /><br />
<router-outlet></router-outlet>
