<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Invoice Date</th>
                <th scope="col">Delivered Date</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let order of orderList;let i=index">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{order.product.productName}} </td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.invoiceDate| date : format}}</td> 
                    <td>{{order.deliveredDate| date : format}} </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>