/* :root{
    --primarycolor:#d9d9d9;
    --headercolor:black;
    --datacolor:#f8eee7
}
body{
    background-color:var(--primarycolor);
}

th{
    color: var(--headercolor);
}
td,label{
    color: var(--datacolor) !important;
} */